
body {
    font-family: Arial;
		font-size: 10pt;
    width: 800px;
}

h3 {
	font-size: 14pt;
	margin-bottom:5pt;
	padding-bottom: 0pt;
}

.firebom_help {
        font-size: 10pt;
        font-family: Times Roman;
        font-style: italic
}

.firebom_version {
        color: lightgray;
        font-size: 8pt;
        font-family: Arial;
        margin-left:auto;
        margin-right:auto;
}
.input-prompt {
        position: absolute;
        font-family: Times Roman;
        text-align: center;
        font-size: 12pt;
        font-style: italic;
        color: #aaa;
        margin-top: 0px;
        margin-left: 10px;
}
.firebom_table{
        margin-top: 20px;
}
.firebom_copylink {
        width: 180px;
        margin: auto;
        margin-top: 20px;
}
.firebom_input{
    border: 1px solid gray;
		height: 16px;
		width: 500px;
}
.firebom_submit {
	  vertical-align: bottom;
	  background: pink;
		height: 20px;
}
.firebom_processing {
    width: 400px;
    height: 20px;
    margin-left: 100px;
}
.firebom_error {
    background: #fdd;
}
.firebom_unresolved {
    background: #ccc;
}
.firebom_stale {
    background: #ffd;
}
.firebom_fresh {
    background: #dfd;
}
.firebom_th {
    font-size: 10pt;
    border-bottom: 2px solid lightgray;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.firebom_td {
    font-size: 10pt;
    text-align: center;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.firebom_number {
    text-align: right;
}
.firebom_longtext {
   text-align: left;
}
.firebom_total {
   text-align:right;
   font-weight: bold;
   border-top: 2px solid gray;
}
.firebom_blanktotal {
   border-top: 2px solid lightgray;
}
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: purple;
}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
}
