
body {
    font-family: Arial;
}

.firebom_th {
    border-bottom: 2px solid lightgray;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.firebom_td {
    text-align: center;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.firebom_number {
    text-align: right;
}
.firebom_longtext {
   text-align: left;
}
.firebom_total {
   text-align:right;
   border-style: double none none none;
}

a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: purple;
}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
}
